/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #afafaf;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.div-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-flex-col {
  flex-direction: column;
}

.d-flex-row {
  flex-direction: row;
}

.text-center {
  text-align: center;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.width-100 {
  width: 100% !important;
}

.width-80 {
  width: 80%;
}

.width-60 {
  width: 60%;
}

.width-50 {
  width: 50%;
}

.width-auto {
  width: auto;
}

.h-100vh {
  height: 100vh;
}

.health-heading-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 78px;
  line-height: 106.22px;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
}

.health-heading-secondary-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 78px;
  line-height: 106.22px;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
}

.health-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;
  color: #000000;
}

.health-secondary-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;
  color: #000000;
}

.health-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;
  color: #000000;
  opacity: 50%;
}

.header {
  background: #ffffff !important;
  padding-block: 10px;
  color: #000000;
}

.menu-buttons {
  color: #000000 !important;
  text-transform: none !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 21.79px !important;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.header-right-section {
  display: flex;
  color: #000000;
}

.signin {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;
  text-align: center;
  padding-inline: 20px;
}

.signup {
  border: 1px solid #00000026;
  color: #1E1E1E;
  padding: 0px 20px;
  height: 50px;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;
  text-align: center;
}


/* header end */

.footer-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;
  color: #000000;
  padding-bottom: 20px;
}

.footer-menu-section {
  margin-top: 10px;
  display: flex;
}

.footer-inner-side {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;
  padding-bottom: 15px;
  color: #000000;
}

.footer-inner {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;
  color: #000000;
  opacity: 50%;
  padding-bottom: 15px;
}

.footer-menu-buttons {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.end-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.51px;
  letter-spacing: 0%;
  color: #000000;
}

/* footer end */

.hero-section-container {
  height: calc(100vh - 120px) !important;
}

.filled-button {
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  padding: 14px 25px;
  min-width: 187px;
  margin: 20px 10px;
  background: #2AAF74;
  border: 1px solid #2AAF74;
  border-radius: 10px;
}

.outlined-button {
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: 0%;
  text-align: center;
  color: #1E1E1E;
  padding: 14px 25px;
  min-width: 187px;
  margin: 20px 10px;
  border-radius: 10px;
  border: 1px solid #00000026
}

/* hero section end */

.testimonial-container {
  background: #41ADFB;
  padding: 30px 0px;
  color: #ffffff;
  border-radius: 14px;
  font-family: 'Open Sans', sans-serif;
}

.test-normal-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 21.81px;
  padding-inline: 30px;
}

.test-big-text {
  font-weight: 600;
  font-size: 42px;
  line-height: 57.25px;
  padding-inline: 30px;
}

.test-small-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21.81px;
  padding-inline: 30px;
}

/* testimonial end */

.smart-choice-links {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27.24px;
  letter-spacing: 0%;
  color: #000000;
  opacity: 50%;
  padding-block: 5px;
  cursor: pointer;
}

.smart-choice-links:hover {
  color: #41ADFB;
  opacity: 100%;
  cursor: pointer;
}

/* smart choice fitness end */

.real-card-container {
  padding: 20px;
  position: relative;
  border-radius: 15px 15px 0 0;
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) border-box;
}

.real-card-container:hover {
  padding: 20px;
  position: relative;
  border-radius: 15px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 35.3px 0px #00000014;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) border-box;
}

.real-results-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;
  color: #000000;
  opacity: 50%;
}

.real-results-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;
  color: #000000;
}

.real-results-id {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19.07px;
  letter-spacing: 0%;
  color: #000000;
}

/* real results end */

.tools-card-container {
  padding: 20px;
  position: relative;
  border-radius: 15px 15px 0 0;
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) border-box;
}

.tools-card-container:hover {
  padding: 20px;
  position: relative;
  border-radius: 15px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 35.3px 0px #00000014;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) border-box;
}

.tools-bottom {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 36.6%);
  height: 280px;
  bottom: 20px;
  justify-content: flex-end;
}


/* tools end */

.plans-card-container {
  background: #ffffff;
  border-radius: 15px;

  .plan-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 29.96px;
    letter-spacing: 0%;
    color: #000;
    opacity: 50%;
    padding-block: 10px;
  }

  .plan-price {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 51.75px;
    letter-spacing: 0%;
    color: #000;

    span {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 22px;
      line-height: 29.96px;
      letter-spacing: 0%;
      color: #000;
      opacity: 50%;
    }
  }

  .plan-description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.79px;
    letter-spacing: 0%;
    color: #000;
    opacity: 50%;
    padding-block: 10px;
  }

  .plan-button {
    background-color: #F6F6F6;
    border: 1px solid #00000026;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    font-family: Manrope;
    font-weight: 700;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: 0%;
    text-align: center;
    margin-block: 20px;
  }

  .plan-detail-container {
    padding-block: 10px;
  }

  .plan-detail {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.79px;
    letter-spacing: 0%;
    color: #000;
    padding-block: 10px;
  }
}

.plans-card-container:hover {
  background: #2AAF74;
  border-radius: 15px;
  color: #FFFFFF;

  .plan-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 29.96px;
    letter-spacing: 0%;
    color: #fff;
    opacity: 1;
  }

  .plan-price {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 51.75px;
    letter-spacing: 0%;
    color: #fff;

    span {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 22px;
      line-height: 29.96px;
      letter-spacing: 0%;
      color: #fff;
      opacity: 1;
    }
  }

  .plan-description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.79px;
    letter-spacing: 0%;
    color: #fff;
    opacity: 1;
  }

  .plan-button {
    background-color: #ffffff;
    border: 1px solid #2AAF74;
    color: #2AAF74;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: 0%;
    text-align: center;
  }

  .plan-detail-container {}

  .plan-detail {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.79px;
    letter-spacing: 0%;
    color: #fff;
  }

}

/* plans end */

.choice-card-container {
  padding: 20px;
  border-radius: 12px;
}

.choice-card-container:hover {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 11px 24px 31.8px 0px #0000000D;
}

.choice-heading {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 58px;
  letter-spacing: 0%;
  color: #000;
}

.choice-description {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;
  color: #000;
  opacity: 50%;
}

/* choice-card end */

@media screen and (max-width: 786px) {

  .width-100-sm {
    width: 100% !important;
  }
  
  .width-80-sm {
    width: 80%;
  }
  
  .width-60-sm {
    width: 60%;
  }
  
  .width-50-sm {
    width: 50%;
  }

  .display-sm-none {
    display: none;
  }

  .health-heading-text {
    font-weight: 300;
    font-size: 48px;
    line-height: 56.22px;
  }

  .health-heading-secondary-text {
    font-weight: 400;
    font-size: 58px;
    line-height: 46.22px;
  }

  .health-text {
    font-weight: 300;
    font-size: 34px;
    line-height: 38px;
  }

  .health-secondary-text {
    font-weight: 400;
    font-size: 34px;
    line-height: 38px;
  }

  .health-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 21.79px;
  }

  .smart-choice-links {
    font-weight: 600;
    font-size: 16px;
    line-height: 17.24px;
  }

  .filled-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 24.59px;
    min-width: 187px;
    margin: 10px;
  }

  .outlined-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 24.59px;
    min-width: 187px;
    margin: 10px;
  }

  .d-flex-col-sm {
    flex-direction: column;
  }

}