/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #afafaf;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.div-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-flex-col {
  flex-direction: column !important;
}

.d-flex-row {
  flex-direction: row !important;
}

.text-center {
  text-align: center !important;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.width-100 {
  width: 100% !important;
}

.width-80 {
  width: 80%;
}

.width-60 {
  width: 60%;
}

.width-50 {
  width: 50%;
}

.width-auto {
  width: auto;
}

.h-100vh {
  height: 100vh;
}

.health-heading-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 78px;
  line-height: 106.22px;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
}

.health-heading-secondary-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 78px;
  line-height: 106.22px;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
}

.health-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;
  color: #000000;
}

.health-secondary-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;
  color: #000000;
}

.health-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;
  color: #000000;
  opacity: 50%;
}

.header {
  background: #ffffff !important;
  padding-block: 10px;
  color: #000000;
}

.menu-buttons {
  color: #000000 !important;
  text-transform: none !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 21.79px !important;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.header-right-section {
  display: flex;
  color: #000000;
}

.signin {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;
  text-align: center;
  padding-inline: 20px;
  cursor: pointer;
}

.signup {
  border: 1px solid #00000026;
  color: #1E1E1E;
  padding: 0px 20px;
  height: 50px;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}

.login-card {
  position: relative;
  box-shadow: 0px 0px 22.9px 0px #00000014 !important;
  border-radius: 20px !important;
  border: 1px solid transparent !important;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) border-box !important;
}

.login-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.login-header-desc {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #A1A1AA;
  margin-top: 20px;
  margin-bottom: 40px;
}

.login-inner-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #A1A1AA;
}

.login-bottom-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #A1A1AA;
}

.login-links {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
  padding-left: 2px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.form-label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;

  span {
    font-family: 'Open Sans', sans-serif;
    color: #F35047;
  }
}

.login-button {
  background: linear-gradient(90deg, #24CC63 0%, #008A47 100%);
  border: 1px solid #24CC63
}

/* header end */

.footer-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;
  color: #000000;
  padding-bottom: 20px;
}

.footer-menu-section {
  margin-top: 10px;
  display: flex;
}

.footer-inner-side {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;
  padding-bottom: 15px;
  color: #000000;
}

.footer-inner {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;
  color: #000000;
  opacity: 50%;
  padding-bottom: 15px;
}

.footer-menu-buttons {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.end-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.51px;
  letter-spacing: 0%;
  color: #000000;
}

/* footer end */

.hero-section-container {
  height: calc(100vh - 120px) !important;
}

.filled-button {
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  padding: 14px 25px;
  min-width: 187px;
  margin: 20px 10px;
  background: #2AAF74;
  border: 1px solid #2AAF74;
  border-radius: 10px;
}

.outlined-button {
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: 0%;
  text-align: center;
  color: #1E1E1E;
  padding: 14px 25px;
  min-width: 187px;
  margin: 20px 10px;
  border-radius: 10px;
  border: 1px solid #00000026
}

.filled-button-linear {
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  padding: 14px 25px;
  min-width: 187px;
  margin: 20px 10px;
  background: linear-gradient(90deg, #24CC63 0%, #008A47 100%);
  border: 1px solid #24CC63;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.outlined-button-linear {
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: 0%;
  text-align: center;
  color: #24CC63;
  padding: 14px 38px;
  min-width: 187px;
  margin: 20px 10px;
  border-radius: 10px;
  border: 1px solid #24CC63
}

/* hero section end */

.top-ai-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19.07px;
  letter-spacing: 0%;
  color: #2AAF74;
  background: #24CC632B;
  display: flex;
  align-items: center;
  width: max-content;
  padding: 10px 20px;
  border-radius: 24px;
}

.green-circle {
  width: 16px;
  height: 16px;
  background-color: #008A47;
  border-radius: 50%;
  margin-right: 10px;
}

.new-hero-heading {
  padding-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 73.6px;
  letter-spacing: 0%;
  color: #000000;
  width: 90%;

  span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 73.6px;
    letter-spacing: 0%;
    color: #24CC63;
  }
}

.new-hero-desc {
  padding-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 31px;
  letter-spacing: 0%;
  color: #6F7684;
  /* width: 80%; */
}

.new-hero-desc-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 31px;
  letter-spacing: 0%;
  color: #6F7684;
}

.hero-inner-card {
  border-radius: 13px;
  padding: 30px 20px;
  position: relative;
}

.green-hero-card {
  background: linear-gradient(103.94deg, #58DE8B 0%, #25A97B 58.77%);
}

.blue-hero-card {
  background: linear-gradient(103.94deg, #6DA9F8 0%, #615DE8 58.77%);
}

.purple-hero-card {
  background: linear-gradient(103.94deg, #C78CF7 0%, #DD438D 58.77%);
}

.orange-hero-card {
  background: linear-gradient(103.94deg, #FBC138 0%, #EC6D24 58.77%);
}

.hero-inner-icon {
  width: 28px;
  height: 28px;
}

.hero-inner-icon-absolute {
  position: absolute;
  right: 0px;
  top: 0px;
}

.hero-inner-text {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  line-height: 17.07px;
  letter-spacing: 0%;
  color: #ffffff;
  width: 60%;
  padding-top: 10px;
}

.hero-inner-desc {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.07px;
  letter-spacing: 0%;
  color: #ffffff;
  padding-top: 15px;
  width: 80%;
}

.bottom-hero-card {
  border: 1px solid #CECECE;
  background: #FFFFFF;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 100%;
  position: relative;
}

.bottom-hero-card-text {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 33px;
  line-height: 40.23px;
  letter-spacing: 0%;
  color: #000000;
  width: 100%;
}

.bottom-hero-card-desc {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;
  color: #6F7684;
  width: 100%;
}

/* new hero section end */

.testimonial-container {
  background: #41ADFB;
  padding: 30px 0px;
  color: #ffffff;
  border-radius: 14px;
  font-family: 'Open Sans', sans-serif;
}

.test-normal-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 21.81px;
  padding-inline: 30px;
}

.test-big-text {
  font-weight: 600;
  font-size: 42px;
  line-height: 57.25px;
  padding-inline: 30px;
}

.test-small-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21.81px;
  padding-inline: 30px;
}

/* testimonial end */

.smart-choice-links {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27.24px;
  letter-spacing: 0%;
  color: #000000;
  opacity: 50%;
  padding-block: 5px;
  cursor: pointer;
}

.smart-choice-links:hover {
  color: #41ADFB;
  opacity: 100%;
  cursor: pointer;
}

/* smart choice fitness end */

.real-card-container {
  padding: 20px;
  position: relative;
  border-radius: 15px 15px 0 0;
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) border-box;
}

.real-card-container:hover {
  padding: 20px;
  position: relative;
  border-radius: 15px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 35.3px 0px #00000014;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) border-box;
}

.real-results-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;
  color: #000000;
  opacity: 50%;
}

.real-results-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;
  color: #000000;
}

.real-results-id {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19.07px;
  letter-spacing: 0%;
  color: #000000;
}

/* real results end */

.tools-card-container {
  padding: 20px;
  position: relative;
  border-radius: 15px 15px 0 0;
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) border-box;
}

.tools-card-container:hover {
  padding: 20px;
  position: relative;
  border-radius: 15px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 35.3px 0px #00000014;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) border-box;
}

.tools-bottom {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 36.6%);
  height: 280px;
  bottom: 20px;
  justify-content: flex-end;
}


/* tools end */

.plans-card-container {
  background: #ffffff;
  border-radius: 15px;

  .plan-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 29.96px;
    letter-spacing: 0%;
    color: #000;
    opacity: 50%;
    padding-block: 10px;
  }

  .plan-price {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 51.75px;
    letter-spacing: 0%;
    color: #000;

    span {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 22px;
      line-height: 29.96px;
      letter-spacing: 0%;
      color: #000;
      opacity: 50%;
    }
  }

  .plan-description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.79px;
    letter-spacing: 0%;
    color: #000;
    opacity: 50%;
    padding-block: 10px;
  }

  .plan-button {
    background-color: #F6F6F6;
    border: 1px solid #00000026;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    font-family: Manrope;
    font-weight: 700;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: 0%;
    text-align: center;
    margin-block: 20px;
  }

  .plan-detail-container {
    padding-block: 10px;
  }

  .plan-detail {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.79px;
    letter-spacing: 0%;
    color: #000;
    padding-block: 10px;
  }
}

.plans-card-container:hover {
  background: #2AAF74;
  border-radius: 15px;
  color: #FFFFFF;

  .plan-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 29.96px;
    letter-spacing: 0%;
    color: #fff;
    opacity: 1;
  }

  .plan-price {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 51.75px;
    letter-spacing: 0%;
    color: #fff;

    span {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 22px;
      line-height: 29.96px;
      letter-spacing: 0%;
      color: #fff;
      opacity: 1;
    }
  }

  .plan-description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.79px;
    letter-spacing: 0%;
    color: #fff;
    opacity: 1;
  }

  .plan-button {
    background-color: #ffffff;
    border: 1px solid #2AAF74;
    color: #2AAF74;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: 0%;
    text-align: center;
  }

  .plan-detail-container {}

  .plan-detail {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.79px;
    letter-spacing: 0%;
    color: #fff;
  }

}

/* plans end */

.choice-card-container {
  padding: 20px;
  border-radius: 12px;
}

.choice-card-container:hover {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 11px 24px 31.8px 0px #0000000D;
}

.choice-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 58px;
  letter-spacing: 0%;
  color: #000;
}

.choice-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;
  color: #000;
  opacity: 50%;
}

/* choice-card end */

.blog-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #191919;
}

.blog-card {
  position: relative;
  border-radius: 20px !important;
  border: 1px solid transparent !important;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) border-box !important;
  padding: 20px;
}

.blog-card:hover {
  position: relative;
  box-shadow: 0px 0px 22.9px 0px #00000014 !important;
  border-radius: 20px !important;
  border: 1px solid transparent !important;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) border-box !important;
  padding: 20px;
}

.blog-card-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #191919;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.blog-card-heading-desc {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #C0C5D0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-top: 10px;
}

.blog-card-chips {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #132B35;
  padding-top: 10px;
}

.blog-chips {
  background: #F2F2F2;
  padding: 4px 8px;
  border-radius: 8px;
  margin-right: 5px;
}

.recent-blog-container {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #000;
  position: relative;
  border-radius: 20px !important;
  border: 1px solid transparent !important;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) border-box !important;
  padding-block: 20px;
}


.recent-blog-card {
  padding-block: 10px;
  border-top: 1px solid #CECECE;
}

.recent-blog-card-inner {
  padding: 5px;
  border-radius: 15px;
}

.recent-blog-card-inner:hover {
  border-radius: 15px;
  box-shadow: 0px 0px 13.8px 0px #00000040;
  background: #FFFFFF;
}

.date-time-div {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #3A4750;
}

.blog-details-container {

  h1,
  h2,
  h3 {
    color: #333;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li::before {
    content: "✔️ ";
    color: green;
  }

  .avoid li::before {
    content: "❌ ";
    color: red;
  }

  .meal-plan li::before {
    content: "🍽️ ";
    color: orange;
  }
}

.recent-blog-cards-head {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #191919;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.recent-blog-cards-desc {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #C0C5D0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* blog card end */


.terms-container {
  position: relative;

  .terms-container-inner {
    padding: 40px;
  }

  h1 {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 114.99999999999999%;
    letter-spacing: 0%;
  }

  .effective-date {
    color: #d32f2f;
    font-weight: bold;
  }

  .h2 {
    color: #000000;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 58px;
    letter-spacing: 0%;
  }

  .p-text {
    color: #6F7684;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  ul li span {
    color: #6F7684;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  ul li {
    margin-bottom: 8px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
  }

  strong {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
  }
}

.privacy-container {
  position: relative;

  .privacy-container-inner {
    padding: 40px;
  }

  h1 {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 114.99999999999999%;
    letter-spacing: 0%;
  }

  .effective-date {
    color: #d32f2f;
    font-weight: bold;
  }

  .h2 {
    color: #000000;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 58px;
    letter-spacing: 0%;
  }

  .p-text {
    color: #6F7684;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  ul li span {
    color: #6F7684;
  }

  ul li {
    margin-bottom: 8px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
  }

  strong {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
  }
}

/* terms and privacy end */

.about-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
}

.about-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #6F7684;
  width: 50%;
  padding-top: 20px;
}

.about-planner-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;

  span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 54px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
  }
}

.about-planner-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #6F7684;
  padding-top: 20px;
}

.our-team-heading {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;

  span {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 54px;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.our-team-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 20px;
  text-align: center;
  color: #000000;
  opacity: 50%;
}

.team-card-container {
  background-color: #F9FAFB;
  padding: 30px 20px 50px 20px;
  height: max-content;
  min-height: 100%;
}

.team-card-name {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  color: #101828;
  padding: 10px 0px;
}

.team-card-work {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #22B286;
}

.team-card-idea {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #667085;
  width: 80%;
  padding: 10px 0px;
}

.about-bot-container {
  background: #F6F6F6;
  padding: 50px;
  border-radius: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-bot-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -2%;
  text-align: center;
  color: #101828;
}

.about-bot-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  color: #101828;
}

.about-bot-college {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #667085;
}

/* about us end */


.news-letter-container {
  background: #F6F6F6;
  padding: 40px;
  border-radius: 15px;
}

.news-letter-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
}

.news-letter-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  opacity: 50%;
  padding-top: 30px;
}

/* news letter end */

.contact-container {
  position: relative;
}

.contact-container-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  position: relative;
}

.contact-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
}

.contact-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #6F7684;
  padding-top: 30px;
  width: 50%;
}

.contact-cards {
  position: relative;
  padding: 30px;
  box-shadow: 0px 0px 22.9px 0px #00000014 !important;
  border-radius: 20px !important;
  border: 1px solid transparent !important;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) border-box !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 2%;
  min-height: 100%;
}


/* contact end */


@media screen and (max-width: 786px) {

  .width-100-sm {
    width: 100% !important;
  }

  .width-80-sm {
    width: 80%;
  }

  .width-60-sm {
    width: 60%;
  }

  .width-50-sm {
    width: 50%;
  }

  .display-sm-none {
    display: none !important;
  }

  .health-heading-text {
    font-weight: 300;
    font-size: 48px;
    line-height: 56.22px;
  }

  .health-heading-secondary-text {
    font-weight: 400;
    font-size: 58px;
    line-height: 46.22px;
  }

  .health-text {
    font-weight: 300;
    font-size: 34px;
    line-height: 38px;
  }

  .health-secondary-text {
    font-weight: 400;
    font-size: 34px;
    line-height: 38px;
  }

  .health-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 21.79px;
  }

  .top-ai-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 19.07px;
    letter-spacing: 0%;
    color: #2AAF74;
    background: #24CC632B;
    display: flex;
    align-items: center;
    width: max-content;
    padding: 8px 20px;
    border-radius: 24px;
  }

  .green-circle {
    width: 12px;
    height: 12px;
    background-color: #008A47;
    border-radius: 50%;
    margin-right: 10px;
  }

  .new-hero-heading {
    padding-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 53.6px;
    letter-spacing: 0%;
    color: #000000;

    span {
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 44px;
      line-height: 53.6px;
      letter-spacing: 0%;
      color: #24CC63;
    }
  }

  .new-hero-desc {
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    letter-spacing: 0%;
    color: #6F7684;
  }

  .new-hero-desc-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 31px;
    letter-spacing: 0%;
    color: #6F7684;
  }

  .smart-choice-links {
    font-weight: 600;
    font-size: 16px;
    line-height: 17.24px;
  }

  .filled-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 24.59px;
    min-width: 187px;
    margin: 10px;
  }

  .outlined-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 24.59px;
    min-width: 187px;
    margin: 10px;
  }

  .outlined-button-linear {
    margin: 0px 10px;
    padding: 14px 25px;
  }

  .d-flex-col-sm {
    flex-direction: column;
  }

  .login-card {
    position: relative;
    box-shadow: none !important;
    border-radius: 0px !important;
    border: none !important;
    background: none;
  }

}